.container{
    background-image:linear-gradient(rgba(0, 0 ,0, 0.5),rgba(0, 0 ,0, 0.5) ),url('../signin&signup/bg.jpg');
    height: 101vh;
    background-position: bottom;
    background-attachment: fixed;
    object-fit: cover;
    position: relative;
   
}