.container{
    background-image:linear-gradient(rgba(0, 0 ,0, 0.5),rgba(0, 0 ,0, 0.5) ),url('../signin&signup/bg.jpg');
    height: 101vh;
    background-position: bottom;
    background-attachment: fixed;
    object-fit: cover;
    position: relative;
    display: flex;
    background-repeat: no-repeat;
   
   
}
.navBar{
    background-image:linear-gradient(rgba(0, 0 ,0, 0.5),rgba(0, 0 ,0, 0.5) ) ;
    width: 20%;
    height: 101vh;
    position: relative;
}
.logo{
    display: flex;
   
    
    height: 100px;
     p{
        align-self: center;
        margin-left: 20px;
        font-size: 23px;
        color: white;
        font-weight: 600;
        
      
     }
     img{
        background-color: rgb(190, 190, 190);
       object-fit: cover;
       width: 100px;
       
     }
}
.list{
    color: white;
     margin-top: 40px;
     margin-left: 20px;
     li{
        margin-top: 25px;
        cursor: pointer;
        list-style: none;
       
     }
     span{
        margin-left: 20px;
        font-size: 20px;
     }
   
}
 .list>li:hover{
    background-color: rgb(215, 220, 220);
    color: rgb(246, 246, 191);
   } 
.ProInfo{
   
    
    color: white;
    display: flex;
    width: 100%;
    
    img{
        background-color: beige;
        border-radius: 50%;
        margin-right: 20px;
    }
    h1{
        font-size: 20px;
    }
}
.compt{
position: absolute;
    bottom: 10px;
    width: 100%;
}