*{
    margin: 0;
    padding: 0;
}
.container{
    width: 800px;
    height: 700px;
    background-color: aqua;
    justify-self: center;
    
}
.bg-login{
        background-image: url('./signin&signup/bg.jpg');
        width: 50%;
        height: 100%;
        object-fit: cover;
        background-position: center;
 }